.container {
  border: 2px solid black;
margin-top:7%;
margin-bottom:7%;
margin-left:3%;
margin-right:3%;

  padding: 20px;
}

.top-left-text {
  position: absolute;
  top: 47%;
  left: 50%;
 
}

.top-left-image {
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px;
  width: 170px;
height: 170px;
  position: absolute;
  top: 14%;
  left: 5%;
}

.top-right-image {
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px;
    width: 170px;
height: 170px;
  position: absolute;
top: 14%;
  right: 5%;
}

.h1{
color:red;
}

.h2{
background-color:red;
color:white;
}

body{
background-color :lightblue;
font-family: verdana;
text-align : center;
}


input[type = "radio"]{
display: inline-block;
width:15px;
}

.table1{
text-align: center;
border-collapse: collapse;
width: 100%;
height: 70px;
}

.table2{
text-align: left;
}

.table3{
color:lightblue;
text-align: center;
border-collapse: collapse;
width: 70px;
height: 50px;
}

/* .input1{
border:0px solid #777;
border-radius:2px;
font-family : inherit;
padding:10px;
display:block;
width:95%;
background-color:lightblue;
}
 */
/*  input[type="text"]{
 border:none;
 background-color:lightblue;
 border-radius:1px;
 font-family : inherit;
 padding:10px;
 display:block;
 width:95%;
 } */
 input[type=text] {
font-size: 16px;
border-right:none;
border-left:none;
border-top:none;
border-bottom:2px solid black;
 background:lightblue;
  width: 80%;
  padding: 10px;
  display:block;
}

 input[type=date]{
 font-size: 20px;
 text-align:bottom;
 background-color:lightblue;
  width: 50%;
  padding: 12px 20px;
  border:1px solid black;
}

select{
text-align:bottom;
 background-color:lightblue;
  font-size: 20px;
  width: 60%;
  font-size: 15px;
  padding: 12px 20px;
  border:1px solid black;
}


input[type="file"] {
			display: none;
		}
		.label1 {
		position: absolute;
		  top: 73%;
		  right: 11%;
		  border:1px solid black;
			background-color: lightblue;
			color: black;
			padding: 3px 3px;
			border-radius: 5px;
			cursor: pointer;
			font-size: 15px;
			margin-bottom: 20px;
		}
		img {
		position: absolute;
border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
   top: 50%;
width: 140px;
height:140px;
  right: 10%;
		}